html, body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background-color: #071a0a;
    overflow: hidden;
    touch-action: none;
    font-family: sans-serif;
}
body { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#gameCanvas {
    background-color: #1a4a1e;
    /* Rimuoviamo width/height fissi per far decidere al JS */
    display: block;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}