/* style.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #35654d; /* Verde scuro profondo */
    overflow: hidden;
    touch-action: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .table {
        
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
           
        #status {
            position: absolute;
            margin: auto;
            padding: auto;
            width: auto;
            height: auto;
            color: green;
            z-index: 2;
            font-family: "Bangers", system-ui;
            font-weight: 400;
            font-style: normal;
        }
        #gameCanvas {
            background-color: #35654d ;
            /* Occupa quasi tutto lo schermo in verticale */
            width: 100vw !important; 
            height: 90vh !important;
            object-fit: center;

        }
    }
}
